<div class="task-popup">
  <div class="popup__title">Add to Teamweek</div>

  <div class="popup__form form">
    <div class="form__row">
      <div class="form__label">
        <label for="tw-form-{{cid}}-name">Name</label>
      </div>
      <div class="form__control">
        <input type="text" name="name" id="tw-form-{{cid}}-name" placeholder="Enter name..."
          data-hook="input-name">
      </div>
      <div class="form__errors" data-hook="errors-name"></div>
    </div>

    <div class="form__row">
      <div class="form__label">
        <label for="tw-form-{{cid}}-user">User</label>
      </div>
      <div class="form__control">
        <select name="user" id="tw-form-{{cid}}-user" class="user-select"
          data-hook="select-user"></select>
      </div>
      <div class="form__errors" data-hook="errors-user"></div>
    </div>

    <div class="form__row">
      <div class="form__label">
        <label for="tw-form-{{cid}}-start-date">Start</label>
      </div>
      <div class="form__control form__control--datepicker">
        <input type="date" name="start_date" id="tw-form-{{cid}}-start-date"
          data-hook="input-start-date">
      </div>
      <div class="form__control form__control--timepicker">
        <div class="time-input" data-hook="input-start-time">
          <div class="time-input__placeholder" data-hook="placeholder">Set time...</div>
          <div class="time-input__timepicker" data-hook="timepicker"></div>
          <input type="time" name="start_time" id="tw-form-{{cid}}-start-time"
            class="time-input__control" data-hook="control">
        </div>
      </div>
      <div class="form__errors" data-hook="errors-start"></div>
    </div>

    <div class="form__row">
      <div class="form__label">
        <label for="tw-form-{{cid}}-end-date">End</label>
      </div>
      <div class="form__control form__control--datepicker">
        <input type="date" name="end_date" id="tw-form-{{cid}}-end-date"
          data-hook="input-end-date">
      </div>
      <div class="form__control form__control--timepicker">
        <div class="time-input" data-hook="input-end-time">
          <div class="time-input__placeholder" data-hook="placeholder">Set time...</div>
          <div class="time-input__timepicker" data-hook="timepicker"></div>
          <input type="time" name="end_time" id="tw-form-{{cid}}-end-time"
            class="time-input__control" data-hook="control">
        </div>
      </div>
      <div class="form__errors" data-hook="errors-end"></div>
    </div>
  </div>

  <div class="popup__buttons">
    <a href="#" class="button button--submit" data-hook="button-submit">Add</a>
    <a href="#" class="button button--cancel" data-hook="button-cancel">Cancel</a>
  </div>

  <div class="task-popup__overlay" data-hook="done-overlay">
    <div class="task-popup__done">Done!</div>
  </div>
</div>