<div class="task-popup">
  <div class="popup__title">Add to Teamweek</div>

  <form data-hook="form">
    <div class="popup__form form">
      <div class="form__row">
        <div class="form__label">
          <label for="tw-form-{{cid}}-name">Name</label>
        </div>
        <div class="form__control">
          <input type="text" name="name" id="tw-form-{{cid}}-name" placeholder="Enter name..."
            data-hook="input-name" tabindex="1">
        </div>
        <div class="form__errors" data-hook="errors-name"></div>
      </div>
      
      <div class="form__row">
        <div class="form__label">
          <label for="tw-form-{{cid}}-user">User</label>
        </div>
        <div class="form__control">
          <select name="user" id="tw-form-{{cid}}-user" class="user-select"
            data-hook="select-user" tabindex="2"></select>
        </div>
        <div class="form__errors" data-hook="errors-user"></div>
      </div>

      <div class="form__row">
        <div class="form__label">
          <label for="tw-form-{{cid}}-project">Project</label>
        </div>
        <div class="form__control">
          <select name="project" id="tw-form-{{cid}}-project" class="project-select"
            data-hook="select-project" tabindex="3"></select>
        </div>
        <div class="form__errors" data-hook="errors-project"></div>
      </div>

      <div class="form__row">
        <div class="form__label">
          <label for="tw-form-{{cid}}-estimate">Daily estimate</label>
        </div>
        <div class="form__control">
          <div class="estimate-input" data-hook="input-estimate">
            <input type="text" name="estimate" id="tw-form-{{cid}}-estimate" placeholder="0"
              class="estimate-input__control" data-hook="control" tabindex="4">
            <div class="estimate-input__suffix" data-hook="suffix">hours</div>
          </div>
        </div>
        <div class="form__errors" data-hook="errors-estimate"></div>
      </div>
      
      <div class="form__row">
        <div class="form__label">
          <label for="tw-form-{{cid}}-start-date">Start</label>
        </div>
        <div class="form__control form__control--datepicker">
          <div class="date-input" data-hook="input-start-date">
            <input type="text" name="start_date" id="tw-form-{{cid}}-start-date"
              data-hook="control" tabindex="5">
            <div class="date-input__datepicker" data-hook="datepicker"></div>
          </div>
        </div>
        <div class="form__control form__control--timepicker">
          <div class="time-input" data-hook="input-start-time">
            <div class="time-input__timepicker" data-hook="timepicker"></div>
            <input type="text" name="start_time" id="tw-form-{{cid}}-start-time"
              class="time-input__control" placeholder="Set time..." data-hook="control" tabindex="6">
          </div>
        </div>
        <div class="form__errors" data-hook="errors-start"></div>
      </div>
      
      <div class="form__row">
        <div class="form__label">
          <label for="tw-form-{{cid}}-end-date">End</label>
        </div>
        <div class="form__control form__control--datepicker">
          <div class="date-input" data-hook="input-end-date">
            <input type="text" name="end_date" id="tw-form-{{cid}}-end-date"
              data-hook="control" tabindex="7">
            <div class="date-input__datepicker" data-hook="datepicker"></div>
          </div>
        </div>
        <div class="form__control form__control--timepicker">
          <div class="time-input" data-hook="input-end-time">
            <div class="time-input__timepicker" data-hook="timepicker"></div>
            <input type="text" name="end_time" id="tw-form-{{cid}}-end-time"
              class="time-input__control" placeholder="Set time..." data-hook="control" tabindex="8">
          </div>
        </div>
        <div class="form__errors" data-hook="errors-end"></div>
      </div>
    </div>

    <div class="popup__buttons">
      <input type="submit" value="Add" class="button button--submit popup__button" data-hook="button-submit" tabindex="9">
      <input type="button" value="Cancel" class="button button--cancel popup__button" data-hook="button-cancel" tabindex="10">
    </div>
  </form>

  <div class="task-popup__overlay" data-hook="done-overlay">
    <div class="task-popup__done">Done!</div>
  </div>
</div>